extends ../../layout/default.pug

block main
  h1 #{pageTitle}

  div(class="text-right")
    button(
      type="submit"
      class="btn btn-primary mb-3"
      button-submit
      data-patch = `/${prefixAdmin}/roles/permission`
    ) Cập nhật 

  table(
    class="table table-hover table-sm"
    table-permission=records
  )
    thead  
      tr  
        th Tính năng
        each item in records
          th(role-id=item.id) #{item.title}
    tbody   

      //-Tổng quản
      tr 
        td(colspan="4")
          b Tổng quan 
      tr(data-name="dashboard_view")
        td Xem
        each item in records
          td(class="text-center")
            input(type="checkbox" data-id=item.id)
      //-Hết tổng quản

      //- Danh mục sản phẩm
      tr 
        td(colspan="4")
          b Danh mục sản phẩm 
      tr(data-name="products-category_view")
        td Xem
        each item in records
          td(class="text-center")
            input(type="checkbox" data-id=item.id)
      tr(data-name="products-category_create")
        td Thêm mới
        each item in records
          td(class="text-center")
            input(type="checkbox" data-id=item.id)
      tr(data-name="products-category_edit")
        td Chỉnh sửa
        each item in records
          td(class="text-center")
            input(type="checkbox" data-id=item.id)
      tr(data-name="products-category_delete")
        td Xóa
        each item in records
          td(class="text-center")
            input(type="checkbox" data-id=item.id)
      //- Hết danh mục sản phẩm
      //- Sản phẩm
      tr 
        td(colspan="4")
          b Sản phẩm 
      tr(data-name="products_view")
        td Xem
        each item in records
          td(class="text-center")
            input(type="checkbox" data-id=item.id)
      tr(data-name="products_create")
        td Thêm mới
        each item in records
          td(class="text-center")
            input(type="checkbox" data-id=item.id)
      tr(data-name="products_edit")
        td Chỉnh sửa
        each item in records
          td(class="text-center")
            input(type="checkbox" data-id=item.id)
      tr(data-name="products_delete")
        td Xóa
        each item in records
          td(class="text-center")
            input(type="checkbox" data-id=item.id)
      //- Hết sản phẩm
      //- Nhóm quyền
      tr 
        td(colspan="4")
          b Nhóm quyền
      tr(data-name="role_view")
        td Xem
        each item in records
          td(class="text-center")
            input(type="checkbox" data-id=item.id)
      tr(data-name="role_create")
        td Thêm mới
        each item in records
          td(class="text-center")
            input(type="checkbox" data-id=item.id)
      tr(data-name="role_edit")
        td Chỉnh sửa
        each item in records
          td(class="text-center")
            input(type="checkbox" data-id=item.id)
      tr(data-name="role_delete")
        td Xóa
        each item in records
          td(class="text-center")
            input(type="checkbox" data-id=item.id)
      tr(data-name="role_permission")
        td Phân quyền
        each item in records
          td(class="text-center")
            input(type="checkbox" data-id=item.id)
      //- Hết nhóm quyền

      //- Tài khoản
      tr 
        td(colspan="4")
          b Tài khoản
      tr(data-name="accounts_view")
        td Xem
        each item in records
          td(class="text-center")
            input(type="checkbox" data-id=item.id)
      tr(data-name="accounts_create")
        td Thêm mới
        each item in records
          td(class="text-center")
            input(type="checkbox" data-id=item.id)
      tr(data-name="accounts_edit")
        td Chỉnh sửa
        each item in records
          td(class="text-center")
            input(type="checkbox" data-id=item.id)
      tr(data-name="accounts_delete")
        td Xóa
        each item in records
          td(class="text-center")
            input(type="checkbox" data-id=item.id)
      //- Hết tài khoản